html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.m-0 {
    margin: 0 !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-width: 100px;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background: url("/files/bg.jpeg") no-repeat center;
    background-size: cover;
}

#toolbar {
    display: none;
    /*margin: 15px 0;*/
    padding: 30px;
    background: rgba(225, 225, 225, 0.9);
}

#toolbar > .toolbar-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

#toolbar > .toolbar-buttons > button {
    margin: 5px;
}

.life {
    background: url("/files/life.svg") no-repeat;
    background-size: contain;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.container {
    width: 1300px;
    align-self: center;
    padding: 15px 15px 30px 15px;
    margin: 10px;
    /*background: rgba(225, 225, 225, 0.9);*/
    /*border: 1px solid black;*/
    /*box-shadow: 0 0 10px white;*/
    /*border-radius: 25px;*/
}

.text-center {
    text-align: center;
}

.title {
    color: sandybrown;
    font-size: 60px;
    text-shadow: 1px 0 1px black,
    0 1px 1px black,
    -1px 0 1px black,
    0 -1px 1px black;
    margin: 0;
}

#winTitle {
    color: sandybrown;
    font-size: 100px;
    text-shadow: 1px 0 1px black,
    0 1px 1px black,
    -1px 0 1px black,
    0 -1px 1px black;
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        color: sandybrown;
    }
    50% {
        color: white;
    }
    100% {
        color: sandybrown;
    }
}

@keyframes blink {
    0% {
        color: sandybrown;
    }
    50% {
        color: white;
    }
    100% {
        color: sandybrown;
    }
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 1300px;
}

.game_field,
.win_field {
    display: none;
    height: 100%;
    flex-wrap: wrap;
    padding: 30px 0;
    justify-content: center;
    background: rgba(225, 225, 225, 0.9);
}

.start_field {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 25px;
    width: 80%;
    background: rgba(225, 225, 225, 0.9);

}

.start_field h2 {
    margin: 0;
}

#play-btn {
    align-self: center;
    width: 300px;
    height: 300px;
    flex-grow: 1;
    fill: white;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
    transition: 1s;
}

#play-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    width: 400px;
    height: 400px;
}

#play-btn:hover svg {
    fill: sandybrown;
    -webkit-filter: drop-shadow(0 0 1px black);
    filter: drop-shadow(0 0 1px black);

}

.difficulty {
    width: 400px;
    height: 150px;
    border-radius: 25px;
    margin: auto;
    padding: 10px;
}

.difficulty ul {
    height: 90px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
    margin: 0;
}

.difficulty ul > li {
    margin: 5px 10px;
    font-size: 25px;
    height: 25px;
    padding: 15px;
    background: silver;
    color: #FFF;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    text-shadow: 1px 0 0.5px black,
    0 1px 0.5px black,
    -1px 0 0.5px black,
    0 -1px 0.5px black;
    box-shadow: 0 0 5px black;
    align-self: center;
    text-align: center;
    vertical-align: center;
    transition: 0.2s;
}

.difficulty ul > li:not(.selected_diff):hover {
    cursor: pointer;
    background: #787878;
}

.difficulty .selected_diff {
    font-size: 40px;
    height: 45px;
    padding: 15px;
    background: white;
    color: sandybrown;
    border: 1px solid silver;
    cursor: default;
}

.card {
    background: sandybrown;
    padding: 10px;
    display: block;
    box-shadow: 0 0 5px rgb(200, 200, 200);
    border: 1px solid #eeeeee;
    margin: 20px 15px;
    transform: scale(1) scaleX(-1);
    transition: 1.2s, margin 0.1s;
}

.click-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 10;
    pointer-events: none;
}

.card:not(.opened):hover {
    cursor: pointer;
}

.card-body {
    background: sandybrown;
    background-size: contain !important;
    min-height: 100%;
    min-width: 100%;
    box-shadow: 0 0 1px black;
}

.card-body svg {
    filter: drop-shadow(0 0 2px black);
}

.card.opened {
    transform: scale(1.1) scaleX(1) rotate(360deg);
    transition: 1.8s;
}

#notice {
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
    transition: 1s;
}

#notice-card {
    align-self: center;
    background: white;
    font-size: 20px;
    width: 500px;
    min-height: 250px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    z-index: 6;
}

#notice-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    min-height: 150px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 85%;
        min-height: 80%;
        margin: 5px;
    }
}
